.search-bar {
    margin-top: 1rem;
    width: 20rem;
    height: 37.847381591796875px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
    background-color: rgba(217, 217, 217, 1);
  }

  .search-display{
    margin-left: 1rem;
    align-self: center;
  }