@import '../node_modules/mini.css/dist/mini-default.min.css';

body {
    font-family: 'Roboto', sans-serif;
}

@font-face {
    font-family: 'Outfit';
    src: url('assets/fonts/Outfit-Regular.ttf') format('opentype');
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
