.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: #fff;
}

.menu {
    display: flex;
}

.text-button{
    background: none;
    cursor: pointer;
    outline: inherit;
    font-size: 1.2rem;
    text-align: left;
    font-family: Outfit;
    font-weight: 600;
    line-height: 120%;
    font-stretch: normal;
    text-decoration: none;
    color: #555;
    text-transform: uppercase;
    cursor: pointer;
    &:hover{
        border-bottom: 2px solid #555;
    }
}

.mobile-menu-toggle {
    display: none;
}

@media only screen and (max-width: 828px) {
    .mobile-menu-toggle {
        display: flex;
        cursor: pointer;
        background-color: #333;
        color:rgba(200, 183, 38, 1);
        margin-top: 15px;
        transform: scale(1.2);
    }

    .mob-nav{
        display: none;
        position: absolute;
        padding-top: 10px;
    }

    .menu{
        display: none;
    }
  
    .mob-nav.open {
      display: block;
      position:absolute;
      padding-top: 20px;
    }
  
    .nav-button {
      display:block;
      text-transform: uppercase;
      background-color:rgba(200, 183, 38, 1);
      margin-left: -85px;
      width:110px;
      font-family: Outfit;
      font-size: 13px;
      font-weight:500;
    }

}